.container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.loaderContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.render {
  background-color: var(--tertiary-color);
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: none;
}

.opacity {
  opacity: 0.5;
}

/* Estilos para móvil */
@media (max-width: 768px) {
  .render {
    border-radius: 10px;
  }
}