.container {
  display: flex;
  flex: 1;
  height: 100vh;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contentContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 3rem;
  padding-right: 3rem;
}

.topbarContainerDesktop {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.topbarContainerMobile {
  display: none;
}

.chatContainer {}

.buttonsContainer {
  padding-top: 5rem;
  padding-bottom: 1rem;
  padding-right: 4.5rem;
}

.renderContainer {
  height: 100%;
}

/* Estilos para móvil */
@media (max-width: 768px) {
  .topbarContainerDesktop {
    display: none;
  }

  .buttonsContainer {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-right: 2.25rem;
  }

  .topbarContainerMobile {
    display: block;
    margin-bottom: 3rem;
  }
}