.myRendersModalOverlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.5);
}

.myRendersModal {
  position: absolute;
  inset: 2.5rem;
  background-color: var(--white-color);
  overflow: auto;
  outline: none;
  width: 72rem;
  max-width: 80%;
  height: 37rem;
  margin: auto;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
}

.modelContentContainer {
  padding: 2.5rem;
  padding-top: 1.25rem;
}

.modelHeaderContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  max-width: 5rem;
}

.headerTitle {
  margin-left: 0.75rem;
  color: var(--tertiary-text);
  font-size: 1rem;
}

.myRendersSwiper {
  height: 100%;
  width: 100%;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.myRendersContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 3.75rem;
  margin-top: 2rem;
}

.renderContainer {
  width: 13.75rem;
  height: 11.25rem;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.renderButton {
  background-color: var(--white-color);
  border: none;
  cursor: pointer;
  margin: auto;
}

.renderTitle {
  color: var(--tertiary-text);
  font-size: 1.25rem;
}

.renderImage {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

/* Estilos para móvil */
@media (max-width: 768px) {
  .myRendersModal {
    overflow: auto;
    outline: none;
    width: 80%;
    height: 32rem;
    margin: auto;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
  }

  .modelContentContainer {
    padding: 1.25rem;
  }

  .headerTitle {
    margin-left: 0.5rem;
    color: var(--tertiary-text);
    font-size: 0.75rem;
  }
  
  .icon {
    width: 0.75rem;
    height: 0.75rem;
  }

  .myRendersContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 2.5rem;
    margin-top: 1.5rem;
  }
  
  .renderContainer {
    width: 6.25rem;
    height: 6.25rem;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}