/* Estilo base (Desktop por defecto) */
.container {
  display: flex;
  height: 100vh;
  background-color: var(--white-color);
  position: fixed;
}

.navigation {
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  padding-top: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  align-items: center;
}

.sidebar {
  flex: 1;
  /* Ocupa el resto del espacio vertical */
}

.AppIcon > svg {
  margin-bottom: 6rem;
}

.siderbarOptions {
  list-style: none;
  padding: 0;
}

.siderbarOption {
  margin-bottom: 3rem;
  text-align: center;
}

.siderbarLink {
  text-decoration: none;
  color: #333;
  font-size: 1.75rem;
}


/* Estilos para móvil (ocultar sidebar) */
@media (max-width: 768px) {
  .container {
    display: none;
  }
}
