/* Estilo base (Desktop por defecto) */
.container {
  display: flex;
  height: 100vh;
  background-color: var(--white-color);
}

.navigation {
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  padding-top: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  align-items: center;
}

.navigation .topbar {
  display: none;
  /* Oculto en pantallas grandes */
  background-color: #ffffff;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.navigation .menu-toggle {
  display: none;
}

.navigation .sidebar {
  flex: 1;
  /* Ocupa el resto del espacio vertical */
}

.navigation .sidebar .AppIcon>svg {
  margin-bottom: 6rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 3rem;
  text-align: center;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

/* Contenido principal */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.header {
  margin-bottom: 1rem;
}

.header h1 {
  font-size: 24px;
  margin-bottom: 0.5rem;
}

.header input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.chat-box {
  flex: 1;
  background-color: #e6f0ff;
  border-radius: 8px;
  padding: 1rem;
}

/* Estilos para móvil */
@media (max-width: 768px) {

  /* Cambia la navegación a un diseño responsivo */
  .navigation {
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    background-color: var(--tertiary-color);
  }

  /* Barra superior (solo móvil) */
  .navigation .topbar {
    display: flex;
    /* Mostrar barra superior */
    background-color: var(--tertiary-color);
    color: var(--primary-text);
    padding: 0px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--tertiary-color);
    height: 3rem;
  }

  .navigation .topbar .span {
    display: flex;
  }

  .navigation .topbar .span .title {
    margin-left: 0.5rem;
  }

  

  .navigation .menuToggle {
    display: block;
    /* Mostrar botón del menú */
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
  }

  /* Sidebar (oculto por defecto en móvil) */
  .navigation .sidebar {
    display: none;
    background-color: var(--white-color);
    position: absolute;
    top: 3rem;
    /* Debajo de la barra superior */
    left: 0;
    right: 0;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: auto;
  }


  .navigation .sidebar.open {
    display: block;
    /* Mostrar menú cuando está abierto */
  }

  .navigation .sidebar .AppIcon>svg {
    display: none;
  }
  

  /* Contenedor principal */
  .container {
    flex-direction: column;
  }
}